
.block_ael_bannermessage{
    background-color: transparent;

    .block-ael_bannermessage{
        
        background-color:#fff;
        box-shadow: $box-shadow-ael;

        .ael_bannermessage-cta-card{
            font-family: $boldFont;
            font-weight: bold;
        }
    }

 

}


