.ael_links_container_slider{
    background-color:transparent;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
    margin-top: 55px;


   

    .nocourse_links_msg{
        font-size: 23px;
    }
} 


//MOBILE
@media (max-width: 575.98px) { 

   
  
}

@media (max-width: 767.98px) { 
  

}