


<div id="block-ael_training-{{uniqid}}" class="block_ael_training block-cards"  data-userid="{{userid}}">
    <div class='row'>
        <div class='col-md-7'>
            <h4 class="ael_training-title-card"> {{#str}} title_card , block_ael_training {{/str}}  </h4>
        </div>
        <div class='col-md-3 d-flex align-items-center mt-6'>
                    {{> block_ael_training/components/progressbar }}
        </div>
        <div class='mt-5 col-md-2 ael_training-all-link'>
            <a href='{{linkAll}}'> {{#str}} all_courser_link,block_ael_training{{/str}}</a>
        </div>
    </div>  

    <div class='w-100 ael_training_container_filters_primary'> </div>
    <div class='w-100 ael_training_container_filters_secondary'></div>

    

    <div class='row'>
        <div class='col-md-12' id='ael_training-slides'>
             <div class='d-flex w-100 justify-content-center align-items-center'>
                        <div class="spinner-grow text-primary" role="status">
                                 <span class="sr-only">Loading...</span>
                         </div>
                </div>
        </div>
    </div>  




</div>
{{#js}}
require(
[
    'jquery',
    'block_ael_training/main'
],
function(
    $,
    Main
) {
    const root = $('#block-ael_training-{{uniqid}}');
    Main.init(root);
});


{{/js}}