  <div class='d-flex w-100 justify-content-center align-items-center'>
                    <p class='w-100 text-center nocourse_evidence_msg'>{{#str}} nocoursersmessage , block_ael_evidence {{/str}}</p>
    </div>