<!-- Slider main container -->
<div class="swiper ael_training_carousel">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper ">
    <!-- Slides -->
         {{#courses}}
                    <div class="swiper-slide">{{> block_ael_training/components/card-course }}</div>    
          {{/courses}}

  </div>
  <!-- If we need pagination -->


  <!-- If we need navigation buttons -->
  <!--div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div-->

  <div class="swiper-pagination"></div>
</div>
  

<script type="module">
 import Swiper from 'https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js'

const swiper = new Swiper('.ael_training_carousel', {
  loop: false,
  slidesPerView:3,
  spaceBetween: 20,
  centeredSlides:false,

breakpoints: {
    320: {
      slidesPerView: 1,
    },
   
    480: {
      slidesPerView: 2,
      spaceBetween: 30,
     
    },
   
    970: {
      slidesPerView: 3,
      spaceBetween: 40,
       
    },
    1170: {
      slidesPerView: 4,
      spaceBetween: 10,
    
    }
   
  },
  pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable:true,
    dynamicBullets:false,
    dynamicMainBullets:1
      

  },

  // Navigation arrows
 /* navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }*/
});
</script>
