   <div class='w-100'>
                <div class='ael_training_firstFilter'>
                 {{#filters}}
                            <div class='ael_training_filter' data-key='{{key}}'>{{label}} ({{num}})</div>    
                  {{/filters}}
                </div>
    </div>

