<div class="ael_gamification-filter ael_gamification-filter-typeTop  w-100">
   <div class="swiper ael_gamification_avatar_elements ael_gamification-swiper-typeTop">
      <div class="swiper-wrapper">
         <!-- Slides -->
         <div class="swiper-slide ael_gamification_data_filter" data-value="NoHair">   {{#str}} NoHair, block_ael_gamification {{/str}} </div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="Eyepatch">{{#str}} Eyepatch, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="Hat">{{#str}} Hat, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="Hijab">{{#str}} Hijab, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="Turban">{{#str}} Turban, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="WinterHat1">{{#str}} WinterHat1, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="WinterHat2">{{#str}} WinterHat2, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="WinterHat4">{{#str}} WinterHat4, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairBigHair">{{#str}} LongHairBigHair, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairBob">{{#str}} LongHairBob, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairBun">{{#str}} LongHairBun, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairCurly">{{#str}} LongHairCurly, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairDreads">{{#str}} LongHairDreads, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairFroBand">{{#str}} LongHairFroBand, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairFro">{{#str}} LongHairFro, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairFrida">{{#str}} LongHairFrida, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairNotTooLong">{{#str}} LongHairNotTooLong, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairShavedSides">{{#str}} LongHairShavedSides, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairMiaWallace">{{#str}} LongHairMiaWallace, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairStraight">{{#str}} LongHairStraight, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairStraight2">{{#str}} LongHairStraight2, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="LongHairStraightStrand">{{#str}} LongHairStraightStrand, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairDreads01">{{#str}} ShortHairDreads01, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairDreads02">{{#str}} ShortHairDreads02, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairFrizzle">{{#str}} ShortHairFrizzle, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairShaggyMullet">{{#str}} ShortHairShaggyMullet, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairShortFlat">{{#str}} ShortHairShortFlat, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairShortCurly">{{#str}} ShortHairShortCurly, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairShortRound">{{#str}} ShortHairShortRound, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairShortWaved">{{#str}} ShortHairShortWaved, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairSides">{{#str}} ShortHairSides, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairTheCaesar">{{#str}} ShortHairTheCaesar, block_ael_gamification {{/str}}</div>
         <div class="swiper-slide ael_gamification_data_filter" data-value="ShortHairTheCaesarSidePart">{{#str}} ShortHairTheCaesarSidePart, block_ael_gamification {{/str}}</div>
      </div>
   </div>
   <div class="swiper-button-prev swiper-button-prev-ael_gamification-swiper-typeTop"></div>
   <div class="swiper-button-next swiper-button-next-ael_gamification-swiper-typeTop"></div>
</div>


{{#js}}
require(
[
    'jquery',
    'block_ael_gamification/avatar'
],
function(
    $,
    Avatar
) {

    Avatar.initSlider('ael_gamification-swiper-typeTop');
});
{{/js}}


