<div class='ael_card_course' id="ael_card_course_{{id}}" data-link='{{viewurl}}'>
    <div class='ael_card_course_photo' style="background-image:url('{{courseimage}}')">
        {{#isPrincipal}}
        <div class="ael_card_course_is_principal">{{#str}} isprincipalcourse, block_aelchosenbyou {{/str}}</div>
        {{/isPrincipal}}
        
        <div class="ael_card_course_pb_bar">
            <div class="ael_card_course_pb_bar_load" style="width:{{progress}}%"></div>
        </div>
    </div>
    <div class='ael_card_course_data'>
        <div class='ael_card_course_data_category'>
           <span id="id-cat-course-{{id}}"></span>
        </div>
        <div class='ael_card_course_data_title'>
            {{fullname}}
        </div>
        

        <div class='ael_card_course_data_time'>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
            </svg>  {{time}} <span style="margin-left: -5px;">{{customfields}}</span>
        </div>
    </div>
</div>

{{#js}}
require(
[
    'jquery',
    'block_aelchosenbyyou/main'
],
function(
    $,
    Main
) {
    const root = $('#ael_card_course_{{id}}');
    const link = root.attr('data-link')
    $(root).on('click',()=>{
        location.href = link;
    })
    $(document).ready(function(){
        value = "{{categoryid}}";
        courseid = "{{id}}";
        (function(value, courseid){
            Main.getValuesCategory(value, courseid)
                .then(function(renderedCourses) {
                    document.getElementById("id-cat-course-" + courseid).textContent = renderedCourses.name;
                })
                .catch(function(error){
                    console.log(error);
                });
            }(value, courseid))
    })
});


{{/js}}
